body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    padding: 12px 145px 18px 21px;
}

.nome-restaurante {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
}

.slogan-restaurante {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.corpo {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: aquamarine;
    justify-content: space-around;
    margin-top: 92px;
    overflow-y: scroll;
}



.pratos, .bebidas, .sobremesas {
    width: 100%;
    height: 260px;
    display: flex;
    flex-direction: column;
    margin-left: 19px;
    justify-content: space-around;
}

.titulo {
    font-family: 'Righteous';
    font-size: 26px;
    font-weight: 400;
    color: #333333;
}

.caixas {
    width: 100%;
    height: 216px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    background-color: lightgreen;
    gap: 15px;
}

.caixinha {
    width: 172px;
    height: 216px;
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 0 14px;
}

.caixinha img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}


footer {
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape {
    margin: 15px 20px 15px 20px;
}

.rodape button {
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 70px 12px 70px;
    border: none;
}