body {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 92px;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho {
    display: flex;
    flex-direction: column;
    padding: 12px 145px 18px 21px;
}

.nome-restaurante {
    font-family: 'Righteous';
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
}

.slogan-restaurante {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

.corpo {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 92px;
    background-color: #e5e5e5;
    z-index: 1;
    
}

.pratos, .bebidas, .sobremesas {
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 19px;
    margin-right: 7px;
}

.pratos {
    padding: 31px 0 27px 0;
}

.bebidas {
    padding-bottom: 27px;
}

.sobremesas {
    margin-bottom: 89px;
    padding-bottom: 13px ;
}

.titulo {
    font-family: 'Righteous';
    font-size: 26px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 13px;
}

.caixas {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 15px;
}

.caixas::-webkit-scrollbar {
    display: none;
}

.frango, .churras, .peixe, .coca, .agua, .suco, .pudim, .mousse, .pave {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    padding: 0 14px;
    background-color: #FFFFFF;
    border: 3px solid white;
}

.frango img, .churras img, .peixe img, .coca img, .agua img, .suco img, .pudim img, .mousse img, .pave img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
}

.nome {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}

.descricao {
    width: 147px;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.preco {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}


footer {
    width: 100%;
    height: 92px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.rodape {
    margin: 15px 20px 15px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botao {
    height: 61px;
    border-radius: 50px;
    background-color: #CBCBCB;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 80px 12px 80px;
    border: none;
}

.selecionado {
    border: solid 4px green;
}

.fechar-pedido {
    background-color: #32B72F;
}

.confirmacao {
    width: 380px;
    height: 355px;
    background-color: #50D074;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
    position: absolute;
    top: 30%;
    left: 18px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}

.paragrafo-confirma {
    padding-top: 10px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
}

.prato-confirmado, .bebida-confirmada, .sobremesa-confirmada {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    width: 100%;
    height: 27px;
    display: flex;
    justify-content: space-between;
}

.total-pedido {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    width: 100%;
    height: 27px;
    display: flex;
    justify-content: space-between;
}

.info-confirmacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 150px;
}

.tudo-certo {
    width: 329px;
    height: 52px;   
    background: #FFFFFF;
    border-radius: 100px;
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    color: #50D074;
    border: none;
}

.cancelar {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.escondido {
    display: none;
}

.no-scroll {
    overflow: hidden;
}

.tela-branca {
    width: 100%;
    height: 970px;
    background-color: rgba(255, 255, 255, 0.9);;
    position: absolute;
    top: 0;
    left: 0;
}